.vscode/
ParkingLot/__pycache__/
parking/__pycache__/*
parking/migrations/*
parking/migrations/*
parking/tests.py
parking/__init__.py
logs/
Users/__pycache__/*
Users/migrations/*
Users/__init__.py
.env
celerybeat-schedule